{% extends 'layout/base.html' %}
{% block body %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 " src="{{url_for('static',filename='img/'+ filename) }}" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{ title }}</h1>
                        <div class="fs-5 mb-2">
                            <span class="text-dark"> prix: {{ prix }}</span>
                        </div>
                        <p class="lead"> description: {{ description }}</p>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-outline-warning"  data-toggle="msg" data-target="#msg" data-tolger="msg" class="flex-shrink-0" type="button">
                                <a class="nav-link active text-dark" href="#msg">

                                    <i class="fs-3 bi-cart-fill me-1"></i>
                                    Buy with Telgram 
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <article class="py-5 container w-xl-50 msg h-75" id="msg">
            <form action="/buy/products/{{id}}/{{title}}" method="post" enctype="multipart/form-data">
                <center>
                    <input class="btn btn-outline-warning mb-3" name="title" type="button" value="{{ title }}">
                </center>
                <div class="row row-cols-2 g-5 justify-content-center">
                    <div class="col">
                    <input type="text" class="form-control" name="fullname" placeholder="Full name">
                    </div>

                    <div class="col">
                    <input type="email" class="form-control"name="adress" placeholder="Gmail">
                    </div>

                    <div class="col">
                        <input type="tel" class="form-control" name="tel" placeholder="Number Phone">
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" placeholder="Description">
                    </div>
                    <input class="btn btn-outline-warning w-25" type="submit" value="submit">
                </div>
            </form>
        </article>
{% endblock %}
