{% extends 'layout/base.html' %}
{% block body %}
  <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Shop in style</h1>
              <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
          </div>
      </div>
      <!-- <img class="card-img-top" src="{{ url_for('static',filename='/img/store_4.jpg') }}"> -->
  </header>
  
  <section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-5 justify-content-center">
    {% for i in product %}
      <div class="col">
        
        <div class="card">
          <img src="{{ url_for('static', filename='img/'+ i.filename) }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text text-start" style="font-size: 12px;">{{ i.description }}</p>
                <a href="/buy/{{i.id}}/{{i.title}}/{{i.prix}}/{{i.description}}/{{i.filename}}"role="button" class="btn btn-dark">{{ i.prix }}</a>
            </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
  </section>
{% endblock %}